body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe6f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
}

h1 {
    color: #ff66b2;
}

p {
    color: #660033;
}

button {
    background-color: #ff66b2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3385;
}
